<section class="section-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="widget-a">

                    <div class="w-body-a">
                        <img src="/images/logo.png" style="width: 65%;">
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-4 section-md-t3">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">Thông tin website</h3>
                    </div>
                    <div class="w-footer-a">
                        <ul class="list-unstyled">
                            <li class="color-a">
                                <span class="color-text-a">Địa chỉ:</span> 200, Trần Văn Ơn, Phú Hoà, Thủ Dầu Một, Bình Dương</li>
                            <li class="color-a">
                                <span class="color-text-a">Điện thoại: </span> 034 6489 037</li>
                            <li class="color-a">
                                <span class="color-text-a">Email: </span> hieuleggo1280@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 section-md-t3">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">Mạng xã hội</h3>
                    </div>
                    <div class="w-body-a">
                        <div class="socials-a">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<footer>


    <div class="copyright-footer">
        <p class="copyright color-text-a">
            Bản quyền thuộc về &copy;
            <strong><span class="color-a">BlinkBoy</span></strong>
        </p>
    </div>
    </div>


    </div>
    </div>
    </div>
</footer>