<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Chúng tôi hỗ sợ các bạn sinh viên tìm kiếm nhà trọ một cách nhanh chóng và dễ dàng.</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Giới thiệu
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Intro Single End /-->

<!--/ About Star /-->
<section class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-img-box">
                    <img src="images/about1.jpg" alt="" class="img-fluid">
                </div>
                <div class="sinse-box">
                    <h3 class="sinse-title">Thành lập từ năm 2019</h3>
                    <p style="color: white;">Tìm kiếm & Giới thiệu</p>
                </div>
            </div>
            <div class="col-md-12 section-t8">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <img src="images/about2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2  d-none d-lg-block">
                        <div class="title-vertical d-flex justify-content-start">
                            <span>Hỗ trợ tìm trọ TDMU</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 section-md-t3">
                        <!--
                          <div class="title-box-d">
                          <h3 class="title-d">Sed
                            <span class="color-d">porttitor</span> lectus
                            <br> nibh.</h3>
                        </div>
                        -->
                        <p class="color-text-a" style="color: grey;">
                            Website hỗ trợ cho các bạn sinh viên tìm kiếm phòng trọ một cách nhanh chóng và dễ dàng nhất, các phòng trọ được sắp xếp theo khu vực và các mức giá khác nhau phù hợp với nhiều bạn sinh viên.
                        </p>
                        <p class="color-text-a" style="color: grey;">
                            Chúng tôi là trung gian giữa chủ trọ và sinh viên, giúp việc liên lạc giữa hai bên trở nên thuận lợi hơn. Chúng tôi đảm bảo những bài đăng được kiểm duyệt một cách chặt chẽ nhằm mang lại lợi ích cho cả hai bên.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ About End /-->

<!--/ Services Star /-->
<section class="section-services section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Dịch vụ của chúng tôi</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="fa fa-usd" style="color: #2e72ca; font-size: 60px;"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c" style="font-size: 35px;">Giá thành</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c" style="text-align:justify">
                            Chúng tôi luôn ưu tiên giới thiệu những phòng trọ với mức giá hợp lý và chất lượng phòng tốt, phù hợp với đa số người dùng đặc biệt là sinh viên.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="fas fa-hands-helping" style="color: #2e72ca; font-size: 60px;"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c" style="font-size: 35px;">Hỗ trợ</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c" style="text-align:justify">
                            Chúng tôi hỗ trợ bạn tìm kiếm phòng trọ trong và ngoài khu vực trường Đại học Thủ Dầu Một một cách nhanh chóng và hiệu quả nhất.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="fa fa-home" style="color: #2e72ca; font-size: 60px;"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c" style="font-size: 35px;">Cộng đồng</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c" style="text-align:justify">
                            Chúng tôi đã và đăng xây dựng một cộng đồng giúp chủ nhà trọ và người thuê nhà kết nối với nhau một cách dễ dàng và thuận tiện hơn.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Services End /-->

<!--/ Team Star /-->
<section class="section-agents section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Thành viên sáng lập</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card-box-d">
                    <div class="card-img-d">
                        <img src="images/avt1.jpg" alt="" class="img-d img-fluid">
                    </div>
                    <div class="card-overlay card-overlay-hover">
                        <div class="card-header-d">
                            <div class="card-title-d align-self-center">
                                <h3 class="title-d">
                                    <a href="agent-single.html" class="link-two">Trần Minh
                                        <br> Hiếu</a>
                                </h3>
                            </div>
                        </div>
                        <div class="card-body-d">
                            <p class="content-d color-text-a">
                                200, Trần Văn Ơn, Phú Hoà, TDM
                            </p>
                            <div class="info-agents color-a">
                                <p>
                                    <strong>Điện thoại: </strong> 034 6489 037</p>
                                <p>
                                    <strong>Email: </strong> hieuleggo1280@gmail.com</p>
                            </div>
                        </div>
                        <div class="card-footer-d">
                            <div class="socials-footer d-flex justify-content-center">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-d">
                    <div class="card-img-d">
                        <img src="images/avt2.jpg" alt="" class="img-d img-fluid">
                    </div>
                    <div class="card-overlay card-overlay-hover">
                        <div class="card-header-d">
                            <div class="card-title-d align-self-center">
                                <h3 class="title-d">
                                    <a href="agent-single.html" class="link-two">Phạm Minh
                                        <br> Nghĩa</a>
                                </h3>
                            </div>
                        </div>
                        <div class="card-body-d">
                            <p class="content-d color-text-a">
                                13, Huỳnh Văn Luỹ, Phú Mỹ, TDM
                            </p>
                            <div class="info-agents color-a">
                                <p>
                                    <strong>Điện thoại: </strong> +54 356 945234</p>
                                <p>
                                    <strong>Email: </strong> nghiaphamln3@gmail.com</p>
                            </div>
                        </div>
                        <div class="card-footer-d">
                            <div class="socials-footer d-flex justify-content-center">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-d">
                    <div class="card-img-d">
                        <img src="images/avt3.jpg" alt="" class="img-d img-fluid">
                    </div>
                    <div class="card-overlay card-overlay-hover">
                        <div class="card-header-d">
                            <div class="card-title-d align-self-center">
                                <h3 class="title-d">
                                    <a href="agent-single.html" class="link-two">Lê Thành
                                        <br> Đạt</a>
                                </h3>
                            </div>
                        </div>
                        <div class="card-body-d">
                            <p class="content-d color-text-a">
                                33, Lê Chí Dân, Hiệp An, TDM
                            </p>
                            <div class="info-agents color-a">
                                <p>
                                    <strong>Điện thoại: </strong> 032 6488 251</p>
                                <p>
                                    <strong>Email: </strong> datlt225@gmail.com</p>
                            </div>
                        </div>
                        <div class="card-footer-d">
                            <div class="socials-footer d-flex justify-content-center">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Team End /-->