<div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
        <div class="carousel-item-a intro-item bg-image" style="background-image: url(images/slide5.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">Trần Minh Hiếu, Phú Hoà
                                        <br> 0346489037</p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">200 </span> Trần Văn Ơn
                                        <br> Phú Hoà, TDM</h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">Giá | 1.000.000 VNĐ</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item-a intro-item bg-image" style="background-image: url(images/silde7.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">Phạm Minh Nghĩa, Phú Mỹ
                                        <br> 0336069048</p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">13 </span> Huỳnh Văn Luỹ
                                        <br> Phú Mỹ, TDM</h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">Giá | 1.500.000 VNĐ</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item-a intro-item bg-image" style="background-image: url(images/slide6.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">Lê Thành Đạt, Hiệp An
                                        <br> 0326488251</p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">33 </span> Lê Chí Dân
                                        <br> Hiệp An, TDM</h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">Giá | 900.000 VNĐ</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/ Services Star /-->
<section class="section-services section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Dịch vụ của chúng tôi</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <i class="fas fa-hands-helping" style="color: #2e72ca; font-size: 60px;"></i>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c" style="font-size: 35px;">Hỗ trợ</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c" style="text-align:justify">
                            Chúng tôi hỗ trợ bạn tìm kiếm phòng trọ trong và ngoài khu vực trường Đại học Thủ Dầu Một một cách nhanh chóng và hiệu quả nhất.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="fa fa-usd" style="color: #2e72ca; font-size: 60px;"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c" style="font-size: 35px;">Giá thành</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c" style="text-align:justify">
                            Chúng tôi luôn ưu tiên giới thiệu những phòng trọ với mức giá hợp lý và chất lượng phòng tốt, phù hợp với đa số người dùng đặc biệt là sinh viên.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="fa fa-home" style="color: #2e72ca; font-size: 60px;"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c" style="font-size: 35px;">Cộng đồng</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c" style="text-align:justify">
                            Chúng tôi đã và đăng xây dựng một cộng đồng giúp chủ nhà trọ và người thuê nhà kết nối với nhau một cách dễ dàng và thuận tiện hơn.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>