<div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
        <div class="carousel-item-a intro-item bg-image" style="background-image: url(images/slide5.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">Trần Minh Hiếu, Phú Hoà
                                        <br> 0346489037</p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">200 </span> Trần Văn Ơn
                                        <br> Phú Hoà, TDM</h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">Giá | 1.000.000 VNĐ</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item-a intro-item bg-image" style="background-image: url(images/silde7.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">Phạm Minh Nghĩa, Phú Mỹ
                                        <br> 0336069048</p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">13 </span> Huỳnh Văn Luỹ
                                        <br> Phú Mỹ, TDM</h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">Giá | 1.500.000 VNĐ</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item-a intro-item bg-image" style="background-image: url(images/slide6.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">Lê Thành Đạt, Hiệp An
                                        <br> 0326488251</p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">33 </span> Lê Chí Dân
                                        <br> Hiệp An, TDM</h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">Giá | 900.000 VNĐ</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/ Property Star /-->
<section class="section-property section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Phòng trọ mới nhất</h2>
                    </div>
                    <div class="title-link">
                        <a href="property-grid.html">Xem tất cả
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="property-carousel" class="owl-carousel owl-theme">
            <div class="carousel-item-b">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="images/slide5.jpg" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="property-single.html">200 Trần Văn Ơn
                                        <br /> Phú Hoà, TDM</a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                    <span class="price-a">Giá | 1.000.000 VNĐ</span>
                                </div>
                                <a href="#" class="link-a">Xem chi tiết
                                    <span class="ion-ios-arrow-forward"></span>
                                </a>
                            </div>
                            <div class="card-footer-a">
                                <ul class="card-info d-flex justify-content-around">
                                    <li>
                                        <h4 class="card-info-title">Diện tích</h4>
                                        <span>20m
                        <sup>2</sup>
                      </span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Điện</h4>
                                        <span>2k</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Nước</h4>
                                        <span>9k</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Để xe</h4>
                                        <span>Có</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-b">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="images/slide6.jpg" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="property-single.html">13 Huỳnh Văn Luỹ
                                        <br /> Phú Mỹ, TDM</a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                    <span class="price-a">Giá | 1.500.000 VNĐ</span>
                                </div>
                                <a href="property-single.html" class="link-a">Xem chi tiết
                                    <span class="ion-ios-arrow-forward"></span>
                                </a>
                            </div>
                            <div class="card-footer-a">
                                <ul class="card-info d-flex justify-content-around">
                                    <li>
                                        <h4 class="card-info-title">Diện tích</h4>
                                        <span>20m
                        <sup>2</sup>
                      </span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Điện</h4>
                                        <span>2k</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Nước</h4>
                                        <span>7k</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Để xe</h4>
                                        <span>Có</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-b">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="images/silde7.jpg" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="property-single.html">33 Lê Chí Dân
                                        <br /> Hiệp An, TDM</a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                    <span class="price-a">Giá | 900.000 VNĐ</span>
                                </div>
                                <a href="property-single.html" class="link-a">Xem chi tiết
                                    <span class="ion-ios-arrow-forward"></span>
                                </a>
                            </div>
                            <div class="card-footer-a">
                                <ul class="card-info d-flex justify-content-around">
                                    <li>
                                        <h4 class="card-info-title">Diện tích</h4>
                                        <span>15m
                        <sup>2</sup>
                      </span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Điện</h4>
                                        <span>3k</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Nước</h4>
                                        <span>9k</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Để xe</h4>
                                        <span>Không</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-b">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="images/slide4.jpg" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="property-single.html" style="font-size: 25px;">06 Nguyễn Văn Linh
                                        <br /> Tân Vĩnh Hiệp, Tân Uyên</a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                    <span class="price-a">Giá | 900.000 VNĐ</span>
                                </div>
                                <a href="property-single.html" class="link-a">Xem chi tiết
                                    <span class="ion-ios-arrow-forward"></span>
                                </a>
                            </div>
                            <div class="card-footer-a">
                                <ul class="card-info d-flex justify-content-around">
                                    <li>
                                        <h4 class="card-info-title">Diện tích</h4>
                                        <span>15m
                        <sup>2</sup>
                      </span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Điện</h4>
                                        <span>2k</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Nước</h4>
                                        <span>7k</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Để xe</h4>
                                        <span>Không</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Property End /-->

<!--/ Agents Star /-->
<section class="section-agents section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Chủ trọ uy tín</h2>
                    </div>
                    <div class="title-link">
                        <a href="agents-grid.html">Xem tất cả
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card-box-d">
                    <div class="card-img-d">
                        <img src="images/avt1.jpg" alt="" class="img-d img-fluid">
                    </div>
                    <div class="card-overlay card-overlay-hover">
                        <div class="card-header-d">
                            <div class="card-title-d align-self-center">
                                <h3 class="title-d">
                                    <a href="#" class="link-two">Trần Minh
                                        <br> Hiếu</a>
                                </h3>
                            </div>
                        </div>
                        <div class="card-body-d">
                            <p class="content-d color-text-a">
                                200, Trần Văn Ơn, Phú Hoà, TDM
                            </p>
                            <div class="info-agents color-a">
                                <p>
                                    <strong>Điện thoại: </strong> 034 6489 037</p>
                                <p>
                                    <strong>Email: </strong> hieuleggo1280@gmail.com</p>
                            </div>
                        </div>
                        <div class="card-footer-d">
                            <div class="socials-footer d-flex justify-content-center">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="https://www.facebook.com/your.tranminhhieu/" target="_blank" class="link-one">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="https://www.instagram.com/hieu.khongcuoi/?hl=vi" target="_blank" class="link-one">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-d">
                    <div class="card-img-d">
                        <img src="images/avt2.jpg" alt="" class="img-d img-fluid">
                    </div>
                    <div class="card-overlay card-overlay-hover">
                        <div class="card-header-d">
                            <div class="card-title-d align-self-center">
                                <h3 class="title-d">
                                    <a href="#" class="link-two">Phạm Minh
                                        <br> Nghĩa</a>
                                </h3>
                            </div>
                        </div>
                        <div class="card-body-d">
                            <p class="content-d color-text-a">
                                13, Huỳnh Văn Luỹ, Phú Mỹ, TDM
                            </p>
                            <div class="info-agents color-a">
                                <p>
                                    <strong>Điện thoại: </strong> 033 6069 048</p>
                                <p>
                                    <strong>Email: </strong> nghiaphamln3@gmail.com</p>
                            </div>
                        </div>
                        <div class="card-footer-d">
                            <div class="socials-footer d-flex justify-content-center">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="https://www.facebook.com/minhnghia2k" target="_blank" class="link-one">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="https://www.instagram.com/nghia_leon/?hl=vi" target="_blank" class="link-one">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-d">
                    <div class="card-img-d">
                        <img src="images/avt3.jpg" alt="" class="img-d img-fluid">
                    </div>
                    <div class="card-overlay card-overlay-hover">
                        <div class="card-header-d">
                            <div class="card-title-d align-self-center">
                                <h3 class="title-d">
                                    <a href="#" class="link-two">Lê Thành
                                        <br> Đạt</a>
                                </h3>
                            </div>
                        </div>
                        <div class="card-body-d">
                            <p class="content-d color-text-a">
                                33, Lê Chí Dân, Hiệp An, TDM
                            </p>
                            <div class="info-agents color-a">
                                <p>
                                    <strong>Điện thoại: </strong> 032 6488 251</p>
                                <p>
                                    <strong>Email: </strong> datlt225@gmail.com</p>
                            </div>
                        </div>
                        <div class="card-footer-d">
                            <div class="socials-footer d-flex justify-content-center">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="https://www.facebook.com/dat1227" target="_blank" class="link-one">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="https://www.instagram.com/dat.1227/?hl=vi" target="_blank" class="link-one">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Agents End /-->

<!--/ Testimonials Star /-->
<section class="section-testimonials section-t8 nav-arrow-a">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Đáng giá của người dùng</h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="testimonial-carousel" class="owl-carousel owl-arrow">
            <div class="carousel-item-a">
                <div class="testimonials-box">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="testimonial-img">
                                <img src="images/user1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="testimonial-ico">
                                <span class="ion-ios-quote"></span>
                            </div>
                            <div class="testimonials-content">
                                <p class="testimonial-text">
                                    Chất lượng dịch vụ trên mức tuyệt vời, vượt ngoài sự mong đợi của tôi.
                                    Mong hệ thống sẽ ngày càng phát triển hơn nữa.
                                </p>
                            </div>
                            <div class="testimonial-author-box">
                                <img src="images/mini-testimonial-1.jpg" alt="" class="testimonial-avatar">
                                <h5 class="testimonial-author">TrungKenbi</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-a">
                <div class="testimonials-box">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="testimonial-img">
                                <img src="images/user2.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="testimonial-ico">
                                <span class="ion-ios-quote"></span>
                            </div>
                            <div class="testimonials-content">
                                <p class="testimonial-text">
                                    Nhờ website mà tôi tìm được một phòng trọ như ý, gần trường mà giá cả lại phải chăng. Sau này tôi nhất định sẽ tiếp tục ủng hộ website.
                                </p>
                            </div>
                            <div class="testimonial-author-box">
                                <img src="images/mini-testimonial-2.jpg" alt="" class="testimonial-avatar">
                                <h5 class="testimonial-author">DarkPaladinDuy</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Testimonials End /-->